snippet attr_accessor
	private ${1:int} ${2:id};
	
	public $1 get$2()
	{
		return $2;
	}

	public void set$2($1 $2)
	{
		this.$2 = $2;
	}
snippet attr_reader
	private ${1:int} ${2:id};
	
	public $1 get$2()
	{
		return $2;
	}
snippet attr_writer
	private ${1:int} ${2:id};

	public void set$2($1 $2)
	{
		this.$2 = $2;
	}
